@media (min-width: 360px) { 
	#header{
		margin: 27% 0% 7% 12%;
		h1{
			font-size: 4.05em;
		}
	}
#location {
  	h5 {
  	font-size: 1.5em;
  }
  h3 {
  	font-size: 2em;
  }}
#box {
  margin: 5% 2% 0% 2%;
  p, h6 {
  font-size: 1.5em;
}}
#copywrite {
	h6 {font-size: 1.5em;}
}}
@media (min-width: 412px) { 
	#header{
		margin: 27% 0% 7% 12%;
		h1{
			font-size: 4.6em;
		}
	}
#location {
  	h5 {
  	font-size: 1.7em;
  }
  h3 {
  	font-size: 2.5em;
  }}

#box {
  margin: 5% 2% 0% 2%;
  	p, h6 {
  	font-size: 1.7em;
  }
}
#copywrite {
	h6 {font-size: 1.7em;}
}
@media (min-width: 568px) { 
#header{
    margin: 27% 0% 7% 12%;
    h1{
      font-size: 4.6em;
    }
  }
#location {
    h5 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 3.2em;
  }}

#box {
  margin: 5% 5% 0% 5%;
    p, h6 {
    font-size: 2.1em;
      img {
    width: 80px;
  }}}
#copywrite {
  margin: 10px 10px 27% 20px;
  h6 {font-size: 2.1em;}}
}
@media (min-width: 640px) { 
#header{
    margin: 27% 0% 7% 12%;
  h1{
    font-size: 5.6em;
}}
#location {
    h5 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 3.5em;
  }}
#box {
  margin: 5% 5% 0% 5%;
    p, h6 {
    font-size: 2.3em;}
      img {
    width: 80px;
}}
#copywrite {
  margin: 10px 10px 27% 20px;
  h6 {font-size: 2.3em;}}
}
@media (min-width: 732px) { 
  #header{
    margin: 27% 0% 7% 12%;
    h1{
      font-size: 8.2em;
    }
  }
#location {
    h5 {
    font-size: 2.8em;
  }
  h3 {
    font-size: 4.5em;
  }}
#box {
  width: 648px;
  margin: 5% 5% 0% 5%;
    p, h6 {
    font-size: 2.8em;}
      img {
    width: 80px;
  }
}
#copywrite {
  margin: 10px 10px 27% 20px;
  h6 {font-size: 2.8em;}}

}
@media (min-width: 768px) { 
#header{
    margin: 20% 0% 0% 13%;
  }
#location {
  margin: 5% 0% 0% 13%;
}
  #box {
    margin: 5% 0% 0% 7%;}
}
#copywrite {
  margin: 10px 0px 27% 8%;}

@media (min-width: 1024px) { 
  #header{
    margin: 17% 0% 0% 13%;
  }
#location {
  margin: 5% 0% 0% 13%;
}
  #box {
    margin: 5% 0% 0% 18%;
    padding: 2% 2% 0% 2%;
  }
#copywrite {
  margin: 10px 0px 27% 18%;
}
} 
  }
    